# Base
python-dotenv==1.0.1
requests==2.33.0

# Base de données / géospatial
psycopg[binary]==3.2.10
SQLAlchemy==2.0.35
GeoAlchemy2==0.15.2
pydantic>=2.10
# Traitement de données
pandas==2.2.3

# Tests
pytest==8.3.3
