# Base
python-dotenv==1.0.1
requests==2.32.3

# Base de données / géospatial
psycopg[binary]==3.2.10
SQLAlchemy==2.0.35
GeoAlchemy2==0.15.2
pydantic>=2.10
# Traitement de données
pandas==2.2.3
tifffile>=2024.1
imagecodecs>=2024.1
beautifulsoup4>=4.12

# Tests
pytest==8.3.3
